.sidebar {
  width: 200px;
  background: var(--sidebar-bg);
  color: var(--text-color);
  transition: width 0.3s;
  padding: 10px;
  
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: rgba(255,255,255,0.1);
}

.collapse-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar nav a {
  display:  flex;
  flex-direction: row;
  align-items:  center;
  gap: 10px;
}