:root {
  --bg: #ffffff;
  --text-color: #111;
  --sidebar-bg: #f3f3f3;
}

.dark {
  --bg: #121212;
  --text-color: #eee;
  --sidebar-bg: #1e1e1e;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-color);
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}